.html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.key{
    grid-column:2;
    display:grid;
    grid-template-columns: 1fr .5fr .5fr .5fr 1fr;
    grid-auto-flow: row;
}
.g{
    grid-column:2;
    background-color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.y{
    grid-column:3;
    background-color: orange;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.r{
    grid-column:4;
    background-color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.border{
    grid-column-start:2;
    margin: auto;
    display:grid;
    grid-template-columns: 1f 1f;
    grid-template-rows: 1f 1f;
}
.BG{
    grid-row:1/20;
    grid-column:1/14;
}
.inventory{
    display:grid;
    grid-template-columns: 40px 1f 1f 1f 1f 1f 1f 1f 1f 1f;
    grid-template-rows: 30px 1f 30px 1f 1f 1f 1f 1f 1f;
    grid-row-start:1;
    grid-column:1;
}
.FISHB{
    grid-column:11/13;
    grid-row:3/5;
}
.BUGB{
    grid-column:11/13;
    grid-row:13/15;
}
.overtitle{
    grid-row:1;
    height:50px;
}
.title{
    grid-row: 2;
    grid-column: 7;
}
.undertitle{
    grid-row:3;
    height: 20px;
}
.grid {
    grid-row: 4/17;
    grid-column:4/10;
    display: grid;
    grid-template-columns: 64px 64px 64px 64px 64px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-auto-flow: row;
    grid-gap:10px;
}
.fishicon{
    display:grid;
    grid-template-rows: 5px 1fr;
    grid-Template-Columns: 30px 1fr;
    border-radius: 50%;
}
.fishicon input :nth-child(even){
    grid-column-start:1;
}

.fishicon input :nth-child(odd){
    grid-column-start:2;
    grid-row-start: 3;
}
.separator{
    height: 10px;
}

@media screen and (min-width: 800px) {
    .grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
        float: center;
    }
    .fishicon{
        display:grid;
        grid-template-rows: 5px 1fr;
        grid-Template-Columns: 62px 1fr;
    }
}
.grid div {
    height: 98px;
    width: 98px;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
@media screen and (min-width: 800px) {
    .container{
        display:grid;
        grid-template-columns: 1fr 5fr 1fr;
    }
}

.ClockHemi {
    grid-column-start:2;
    display:grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    grid-template-rows: 66px;
}

.infobox {
    grid-column-start:2;
    display:grid;
    background-color: white;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 64px 64px 1fr;
}

.Picture{
    grid-column:2;
    grid-row:1/3;
}

.Info-Name {
    grid-column:2/5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .6em;
}
@media screen and (min-width: 800px) {
    .Info-Name {
        grid-column:2/5;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:1em;
    }
}
.Info-locshad{
    grid-row:2;
    grid-column:2/5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Info-shadow{
    grid-row:2;
    grid-column:2/5;
    margin-top:40px;
}
@media screen and (min-width: 800px) {
    .Info-shadow{
        grid-row:2;
        grid-column:3/5;
        margin-top:0;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}
.shad{
    margin-top:-1px;
    grid-column:1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.shadimg{
    margin-top:-23px;
    grid-column:2/3;
}

.Description{
    grid-row:3;
    grid-column:2/5;
}

.Blathers{
    grid-row:3;
    grid-column:1;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dyk{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.HemiButton {
    margin: 0 auto;
    padding:1px;
    grid-row:1/3;
    grid-column:2;
    align-content: center;
}
.Time {
    grid-column:2;
    grid-row:1;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Date{
    grid-column:3;
    grid-row:1;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Day{
    grid-row:1;
    grid-column:4;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Day .h2{
    margin: auto;
    width:50%;
}
input:focus {
    outline:none;
}